@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

#location {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 60px;
}
#location-title{
  margin-top: 30px;
  margin-bottom: 40px;
}
#location-title p{
  font-size: 36px;
  color: #363636;
}
#place_container{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  gap: 10px;
}
.place{
  border: 1px solid #ebebeb;
  padding: 12px 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  box-shadow: #1c1c1c opx 1.4px 2.8px;  
}
.place_name h5{
  margin-bottom: 5px;
  font-size: 20px;
  color: #1c1c1c;
  font-weight: 400;
}

.Seemore{
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: auto;
}
.Seemore p{
  padding-right: 7px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  
}
.Seemore i{
  padding-right: 10px;
}
